.homeMain {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.shrift {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    span {
        line-height: 20px;
    }
}