.about {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 660px));
  gap: 40px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 920px) {
    grid-template-columns: auto;
  }
  .text {
    display: grid;
    @media (max-width: 920px) {
      gap: 20px;
    }
    .title {
      text-transform: uppercase;
      letter-spacing: -0.04em;
      font-size: clamp(32px, 5vw, 80px);
      max-width: 466px;
      @media (max-width: 920px) {
        text-align: center;
        justify-self: center;
      }
    }
    .aboutImg {
      align-self: end;
      justify-self: center;
      max-width: 496px;
      width: 100%;
      max-height: 464px;
      height: 100%;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .text {
      text-transform: uppercase;
      font-size: clamp(14px, 2vw, 24px);
      @media (max-width: 920px) {
        text-align: center;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 56px;
      @media (max-width: 1280px) {
        gap: 20px;
      }
      @media (max-width: 920px) {
        justify-content: space-evenly;
      }
      @media (max-width: 580px) {
        grid-template-columns: auto;
      }
    }
  }
}
